{% extends "base.html" %}

{% block content %}
<h1>
  <a href="/" class="fas fa-arrow-left"></a>
  Post Details</h1>
<div class="card post">
  <h2 class="post-title">
    <div>
      <a class="tag" href="https://www.reddit.com/r/{{post.subreddit}}/comments/{{post.id}}/" target="_blank">
        Open post
        <i class="fas fa-external-link-alt"></i>
      </a>
      <a class="tag" href="https://www.reddit.com/r/{{post.subreddit}}/" target="_blank">{{post.subreddit}}</a>
      {% if post.analyzed_comments > 0 %}
      <!-- Post and comments were already analyzed -->
      <span class="tag success">
        Analyzed {{post.analyzed_comments}} Comments
      </span>
      {% elif post.id|is_being_analyzed %}
      <!-- Post and comments are currently being analyzed TODO-->
      <a onclick="window.location.reload()" class="tag warn">
        Analyzing...
        <i class="fas fa-sync"></i>
      </a>
      {% else %}
      <a href="/post/{{post.id}}/analyze" class="tag error">
        Analyze Now
      </a>
      {% endif %}
    </div>
    {{post.title}}
  </h2>

  <p class="post-body">{{post.selftext}}</p>
</div>
<br>
{% for comment in comments %}
<div class="card comment">
  <span class="tag {{comment.polarity|polarity_class}}" title="TextBlob Polarity">TB:P: {{comment.polarity}}</span>
  <span class="tag {{comment.subjectivity|subjectivity_class}}" title="TextBlob Subjectivity">TB:S: {{comment.subjectivity}}</span>
  <a class="tag" href="https://www.reddit.com/r/{{post.subreddit}}/comments/{{post.id}}/a/{{comment.id}}/" target="_blank">
    Open 
    <i class="fas fa-external-link-alt"></i>
  </a>
  <p class="comment-body">{{comment.body}}</p>
</div>
{% endfor %}
{% endblock %}